@page "/institutes"
@inject NavigationManager nm;


<h3>Institute Component</h3>

<a href="institute/0" class="btn btn-primary">Add institutes</a>
<div class="container pt-4 table-responsive">
    <table class="table  table-bordered table-hover ">
        <thead class="table-dark">
            <tr>
                <th>Institute ID</th>
                <th>Title</th>
                <th>Email </th>
                <th>Phone</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Created On</th>
                <th>IsActive</th>
                <th>CityId </th>
                <th>TypeOfId </th>
                <th>Location </th>
                <th>AdminId </th>
                <th>Delete </th>
                <th>Edit </th>
                <th>Admission Open/Close</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var emp in instituteList)
            {
                <tr>
                    <td>@emp.InstituteId</td>
                    <td>@emp.Title</td>
                    <td>@emp.Email</td>
                    <td>@emp.Phone</td>
                    <td>@emp.UserName</td>
                    <td>@emp.Password</td>
                    <td>@emp.CreatedOn</td>
                    <td>@emp.IsActive</td>
                    <td>@emp.CityId</td>
                    <td>@emp.TypeOfId</td>
                    <td>@emp.Location</td>
                    <td>@emp.AdminId</td>


                    <td>
                        <button @onclick="(e=>OpenDeleteDialog(emp.InstituteId))" class="btn btn-danger">Del</button>
                    </td>
                    <td>
                        <a href="institute/@emp.InstituteId" class="btn btn-warning bt-sm">Edit</a>

                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="@emp.admission_open_close" @onchange="@(e=>_AdmissionEdit(e, emp.InstituteId))" >
                        </div>

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

@if (DeleteDialogOpen)
{
    <Modal Title="Are you sure?" FunDel="@(()=>OnDelete(@ID))" Text="Do you want to delete" OnClose="@OnDeleteDialogClose"></Modal>
}
@code {




    private List<EntInstitutes>? instituteList;

    public bool? myvalue { get; set; }

    public bool check = true;
    public string? ID { get; set; }
    public bool DeleteDialogOpen { get; set; }
    private void OnDeleteDialogClose(bool accepted)
    {
        DeleteDialogOpen = false;
        LaodInstitute();
        StateHasChanged();
    }
    private void OpenDeleteDialog(string? Id)
    {
        DeleteDialogOpen = true;
        ID = Id;
        StateHasChanged();
    }


    protected override void OnInitialized()
    {
        LaodInstitute();

    }

    private void OnDelete(string id)
    {
        DalInstitutes.DeleteInstitutes(id);
        LaodInstitute();

    }

    private void LaodInstitute()
    {
        this.instituteList = DalInstitutes.GetInstitutes();
    }

    private void _AdmissionEdit(ChangeEventArgs e,string InstituteId)
    {
        myvalue = (bool?)e.Value;
        DalInstitutes.SaveAdmissionInfo(myvalue, InstituteId);
       
    }
  

 
}
